 
<% include ./partials/header %>


<center>

  <font color="yellow" size="8">YELLOW</font>
  <table border="1" cellpadding="10%">
    <th>
      Customer ID
    </th>/login
    <th>
      First name
    </th>
    <th>
    Last Name
    </th>
    <th>
      Loan Amount
    </th>
    <th>
      Term
    </th>
    <th>
      Phone No
    </th>
    <th>
      Email ID
    </th>
    <th>
      Amount Recovered
    </th>
    <th>
      Last Date of Recovery
    </th>
    <th>
      Next Date of Payment
    </th>
    <th>
      Delays
    </th>
    <tr></tr>
  </table>
    <font color="orange" size="8">ORANGE</font>
    <table border="1" cellpadding="10%">
      <th>
        Customer ID
      </th>
      <th>
        First name
      </th>
      <th>
      Last Name
      </th>
      <th>
        Loan Amount
      </th>
      <th>
        Term
      </th>
      <th>
        Phone No
      </th>
      <th>
        Email ID
      </th>
      <th>
        Amount Recovered
      </th>
      <th>
        Last Date of Recovery
      </th>
      <th>
        Next Date of Payment
      </th>
      <th>
        Delays
      </th>
      <tr></tr>
    </table>
      <font color="green" size="8">GREEN</font>
      <table border="1" cellpadding="10%">
        <th>
          Customer ID
        </th>
        <th>
          First name
        </th>
        <th>
        Last Name
        </th>
        <th>
          Loan Amount
        </th>
        <th>
          Term
        </th>
        <th>
          Phone No
        </th>
        <th>
          Email ID
        </th>
        <th>
          Amount Recovered
        </th>
        <th>
          Last Date of Recovery
        </th>
        <th>
          Next Date of Payment
        </th>
        <th>
          Delays
        </th>
        <tr></tr>
      </table>
        <font color="red" size="8">RED</font><table border="1" cellpadding="10%">
          <th>
            Customer ID
          </th>
          <th>
            First name
          </th>
          <th>
          Last Name
          </th>
          <th>
            Loan Amount
          </th>
          <th>
            Term
          </th>
          <th>
            Phone No
          </th>
          <th>
            Email ID
          </th>
          <th>
            Amount Recovered
          </th>
          <th>
            Last Date of Recovery
          </th>
          <th>
            Next Date of Payment
          </th>
          <th>
            Delays
          </th>
          <tr></tr>
        </table>
</center>
</div>
<div class="footer">
<p><br> <br><br></p>
</div>
</body>
</html>
