  
<% include ./partials/header %>

<div class="upper">
<div>
<ul>
  <li><a href="#logo"><b>DHFL Bank</b></a></li>
  <li style="float:right"><a href="login.html"><b>LOGOUT</b></a></li>
  <li style="float:right"><a href="menu.html"><b>MENU</b></a></li>
  <li style="float:right"><a href="existing.html"><b>BACK</b></a></li>
</ul><center><br><br>


<form>
  <table>
    <tr>
      <td>
      <b>  Enter Customer ID:<b>
      </td>
      <td>
        <input type="text" name="custID">
      </td>
    </tr>
  </table>
</form></center>
<br><center>
<table border="1" cellpadding="10%">
  <th>
    Customer ID
  </th>
  <th>
    First name
  </th>
  <th>
  Last Name
  </th>
  <th>
    Flag Category
  </th>
  <th>
    Loan Amount
  </th>
  <th>
    Term
  </th>
  <th>
    Phone No
  </th>
  <th>
    Email ID
  </th>
  <th>
    Amount Recovered
  </th>
  <th>
    Last Date of Recovery
  </th>
  <th>
    Next Date of Payment
  </th>
  <th>
    Delays
  </th>
  <tr></tr>
</table></center>
</div><br><br><br><br>
</div>
</div><br><br>
<div class="footer">
<p><br> <br><br></p>
</div>
</body>
</html>
