<!DOCTYPE html>
<html>
<head>
<style>
body{
 background: url(formback.jpg);
    background-repeat: no-repeat;
 background-size: cover;

	}
	.footer
	{

    position:relative;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:black;
	}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.box{
  margin: auto;
    width: auto;
    border: 3px solid green;
    padding: 10px;
    background-color: white;
}
button
{
  border-color: black;
background-color:Green;
border:none;
 padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	 font-size: 14px;
}
a{
  color: white;
  text-decoration: none;
}
#inline
{width:auto;;height:auto;background-color:white;display:flex;}
</style>
</head>
<body>
<div class="upper">
<div>
<ul>
  <li><a href="#logo"><b>DHFL Bank</b></a></li>
  <li style="float:right"><a href="login.html"><b>LOGOUT</b></a></li>
  <li style="float:right"><a href="menu.html"><b>MENU</b></a></li>
</ul><center>
<br><div class="box"><center><h1><b>Application For Educational Loan</b></h1>
<form action="approve.html" method="post">
<table>
  <tr>
    <td>
      Branch:
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Branch" name="branch" >
    </td>
  </tr>
  <tr>
    <td>
      Name of Applicant:
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Name of Applicant" name="Name of Applicant" >
    </td>
  </tr>
  <tr>
    <td>
      Name of Co-Applicant:
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Name of Co-Applicant" name="Name of Co-Applicant" >
    </td>
  </tr>
  <tr>
    <td>
      Date of Birth:
    </td>
    <td>
      <input type="text" class="form-control" placeholder="DOB" name="DOB" >
    </td>
  </tr>
  <tr>
    <td>
      Sex:
    </td>
    <td>
      <input type="radio" name="gender" value="male" checked> Male
 <input type="radio" name="gender" value="female"> Female
    </td>
  </tr>
  <tr>
    <td>
      Loan Amount:
    </td>
    <td>
      <input type="text" class="form-control" placeholder="Loan Amount" name="Loan Amount" >
    </td>
  </tr>
  <tr>
    <td>
      Relation of Co-Applicant with Applicant:
    </td>
    <td>
      <input type="checkbox" name="Father" value="Father"> Father
<input type="checkbox" name="Mother" value="Mother"> Mother
<input type="checkbox" name="Gaurdian" value="Gaurdian" > Gaurdian
<input type="checkbox" name="Other" value="Other" > Other
<input type="text" class="form-control" placeholder="Relation" name="Relation" >
    </td>
  </tr>
  <tr>
    <td>
      Contact Number:
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Number" name="Number" >
    </td>
  </tr>
  <tr>
    <td>
      Bank in which Account exists:
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Bank name" name="Bank name" >
    </td>
  </tr>
  <tr>
    <td>
      Account Number:
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Account Number" name="Account Number" >
    </td>
  </tr>
  <tr>
    <td>
      Email ID:
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Email" name="Email" >
    </td>
  </tr>
  <tr>
    <td>
      Permanent Address:
    </td>
    <td>
      <textarea rows="4" cols="50">
</textarea>
    </td>
  </tr>
  <tr>
    <td>
      Adhar Card No:
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Adhar" name="Adhar" >
    </td>
  </tr>
  <tr>
    <td>
      Number of active loans:
    </td>
    <td>
        <input type="text" class="form-control" placeholder="Active Loans" name="Active Loans" >
    </td>
  </tr>
  <tr><td>
  Annual income:
  </td>
  <td>
    <input type="text" name="income">
  </td>
  </tr>
  <tr><td>
  Cibil Rating:
  </td>
  <td>
    <input type="number" min="1" max="5" value="1">
  </td>
  </tr>
  <tr><td>
  Amount Last payed for Income Tax:
  </td>
  <td>
    <input type="text" name="income">
  </td>
  </tr>
  <tr><td>
  Latest Income Tax Payment Date:
  </td>
  <td>
    Day:<input type="number" min="1" max="31" value="1">
    Month:<input type="number" min="1" max="12" value="1">
    Year:<input type="number" min="2000" max="2025" value="1">
  </td>
  </tr>
  <tr>
    <td colspan="2">Particulars of course for which the loan is required:</td></tr>
    <tr>
      <td>
        Name of course:
      </td>
      <td>
          <input type="text" class="form-control" placeholder="Course" name="Course" >
      </td>
    </tr>
    <tr>
      <td>
        Name of Institution:
      </td>
      <td>
          <input type="text" class="form-control" placeholder="Institution" name="Institution" >
      </td>
    </tr>
    <tr>
      <td>
        Duration of Course:
      </td>
      <td>
          <input type="text" class="form-control" placeholder="Institution" name="Institution" >Years
      </td>
    </tr>
    <tr>
      <td>
        Date of Commencement:
      </td>
      <td>
        Day:<input type="number" min="1" max="31" value="1">
        Month:<input type="number" min="1" max="12" value="1">
        Year:<input type="number" min="2000" max="2025" value="1">
      </td>
    </tr>
    <tr>
      <td>
        Date of Completion:
      </td>
      <td>
        Day:<input type="number" min="1" max="31" value="1">
        Month:<input type="number" min="1" max="12" value="1">
        Year:<input type="number" min="2000" max="2025" value="1">
      </td>
    </tr>
    <tr>
      <td>
        Type of Course:
      </td>
      <td>
        <input type="checkbox" name="Full-Time" value="Full-Time"> Full-Time
  <input type="checkbox" name="Part Time" value="Part Time"> Part Time
  <input type="checkbox" name="Other" value="Other" > Other
  <input type="text" class="form-control" placeholder="Type of Course" name="Type of Course" >
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Details of estimated Expenses per Year:
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table border="1">
          <tr>
            <th>
              Requirement:<br>
              Term:
            </th>
            <th>
              Tution Fee:
            </th>
            <th>
            Exam Fee:
            </th>
            <th>
            Cost of books
            </th>
            <th>
            Lodging:
            </th>
            <th>
            Lab Fee:
            </th>
            <th>
            Travel:
            </th>
            <th>
            Insurance:
            </th>
            <th>
            Exam Fee:
            </th>
            <th>
            Others:
            </th>
            <th>
            Total:
            </th>
            <th>
            Scholarship(if any):
            </th>
            <th>
            Total loan required:
            </th>
          </tr>
          <tr>
            <td>
              1 year
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>  <td>
              </td>  <td>
                </td>  <td>
                  </td>  <td>
                    </td>  <td>
                      </td>  <td>
                        </td>  <td>
                          </td>  <td>
                            </td>  <td>
                              </td>
          </tr>
          <tr>
            <td>
              2 year
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>  <td>
              </td>  <td>
                </td>  <td>
                  </td>  <td>
                    </td>  <td>
                      </td>  <td>
                        </td>  <td>
                          </td>  <td>
                            </td>  <td>
                              </td>
          </tr>
          <tr>
            <td>
              3 year
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>  <td>
              </td>  <td>
                </td>  <td>
                  </td>  <td>
                    </td>  <td>
                      </td>  <td>
                        </td>  <td>
                          </td>  <td>
                            </td>  <td>
                              </td>
          </tr>
          <tr>
            <td>
              4 year
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>  <td>
              </td>  <td>
                </td>  <td>
                  </td>  <td>
                    </td>  <td>
                      </td>  <td>
                        </td>  <td>
                          </td>  <td>
                            </td>  <td>
                              </td>
          </tr>
          <tr>
            <td>
              5 year
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>  <td>
              </td>  <td>
                </td>  <td>
                  </td>  <td>
                    </td>  <td>
                      </td>  <td>
                        </td>  <td>
                          </td>  <td>
                            </td>  <td>
                              </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Details of Education:
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table border ="1" align=center cellpadding="10">
          <tr>
            <th>
              Examination
            </th>
            <th>
              Institution
            </th>
            <th>
              Year of Passing
            </th>
            <th>
              Attempts Made
            </th>
            <th>
              Percentage of Marks
            </th>
            <th>
              Class/Grade Div
            </th>
          <tr>
          <td>1.
          </td>
          <td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
        <td>2.
        </td>
        <td></td><td></td><td></td><td></td><td></td>
      </tr>
      <tr>
      <td>3.
      </td>
      <td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
    <td>4.
    </td>
    <td></td><td></td><td></td><td></td><td></td>
  </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr><td>Term of Return:</td>
      <td>
        <input type="text" name="Return" >
      </td>
    </tr>
    <tr><td>
    Interest Rate:
    </td>
    <td>
    <input type="text" name="interest">
    </td>
    </tr>
    <tr><td>
    Occupation:
    </td>
    <td>
    <input type="text" name="occupation">
    </td>
    </tr>
    <tr><td>
    Employment Length:
    </td>
    <td>
    <input type="text" name="Length">
    </td>
    </tr>
    <tr><td>
    Home Ownership:
    </td>
    <td>
      <input type="radio" name="home" value="owned" checked> Owned
        <input type="radio" name="home" value="on-rent"> On-rent
        <input type="radio" name="home" value="mortgage"> Mortgage
    </td>
    </tr>
    <tr><td>
    Annual income:
    </td>
    <td>
      <input type="text" name="income">
    </td>
    </tr>
    <tr><td>
    No of active loans:
    </td>
    <td>
      <input type="number" min="1" max="10" value="1">
    </td>
    </tr>
    <tr><td>
    Cibil Rating:
    </td>
    <td>
      <input type="number" min="1" max="5" value="1">
    </td>
    </tr>
    <tr><td>
    Amount Last payed for Income Tax:
    </td>
    <td>
      <input type="text" name="income">
    </td>
    </tr>
    <tr><td>
    Latest Income Tax Payment Date:
    </td>
    <td>
      Day:<input type="number" min="1" max="31" value="1">
      Month:<input type="number" min="1" max="12" value="1">
      Year:<input type="number" min="2000" max="2025" value="1">
    </td>
    </tr>
    <tr>
      <td colspan="2"><b>Nominee Details:</b>
      </td>
    </tr>
    <tr>
      <td>
        Name of Nominee:
      </td>
      <td>
        <input type="text" class="form-control" placeholder="Name of Nominee" name="Name of Nominee" >
      </td>
    </tr>
    <tr>
      <tr>
        <td>
          Relation of Co-Applicant with Applicant:
        </td>
        <td>
          <input type="checkbox" name="Father" value="Father"> Father
    <input type="checkbox" name="Mother" value="Mother"> Mother
    <input type="checkbox" name="Gaurdian" value="Gaurdian" > Gaurdian
    <input type="checkbox" name="Other" value="Other" > Other
    <input type="text" class="form-control" placeholder="Relation" name="Relation" >
        </td>
      </tr>
      <tr>
        <td>
          Date of Birth:
        </td>
        <td>
          <input type="text" class="form-control" placeholder="DOB" name="DOB" >
        </td>
      </tr>
      <tr>
        <td>
          Sex:
        </td>
        <td>
          <input type="radio" name="gender" value="male" checked> Male
     <input type="radio" name="gender" value="female"> Female
        </td>
      </tr>
      <tr>
        <td>
          Contact Number:
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Number" name="Number" >
        </td>
      </tr>
      <tr>
        <td>
          Bank in which Account exists:
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Bank name" name="Bank name" >
        </td>
      </tr>
      <tr>
        <td>
          Account Number:
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Account Number" name="Account Number" >
        </td>
      </tr>
      <tr>
        <td>
          Email ID:
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Email" name="Email" >
        </td>
      </tr>
      <tr>
        <td>
          Permanent Address:
        </td>
        <td>
          <textarea rows="4" cols="50">
    </textarea>
        </td>
      </tr>
      <tr>
        <td>
          Adhar Card No:
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Adhar" name="Adhar" >
        </td>
      </tr>
      <tr>
        <td>
          Number of active loans:
        </td>
        <td>
            <input type="text" class="form-control" placeholder="Active Loans" name="Active Loans" >
        </td>
      </tr>
      <tr><td>
      Annual income:
      </td>
      <td>
        <input type="text" name="income">
      </td>
      </tr>
      <tr><td>
      Cibil Rating:
      </td>
      <td>
        <input type="number" min="1" max="5" value="1">
      </td>
      </tr>
      <tr><td>
      Amount Last payed for Income Tax:
      </td>
      <td>
        <input type="text" name="income">
      </td>
      </tr>
      <tr><td>
      Latest Income Tax Payment Date:
      </td>
      <td>
        Day:<input type="number" min="1" max="31" value="1">
        Month:<input type="number" min="1" max="12" value="1">
        Year:<input type="number" min="2000" max="2025" value="1">
      </td>
      </tr>
</table>
<br><a href="result.html">
<button type="submit" value="Submit">Submit</button><br></a>
</form>
</div><br><br>
</div>
</div>
<div class="footer">
<p><br> <br><br></p>
</div>
</body>
</html>
