 
<% include ./partials/header %>



<p align="right">
<center><br><br><br><br><br>
  <b>
  <button type="button"><a href="/existing/all"><b>See All Customers</b></a></button><br><br>
<button type="button"><a href="/existing/byid"><b>Check Customer by ID</b></a></button>
</b>
</center>
</p>
<br>
</div><br><br><br><br>
</div>
</div><br><br>
<div class="footer">
<p><br> <br><br></p>
</div>
</body>
</html>
