 
<% include ./partials/header %>

<div class="upper">
<div>
<ul>
  <li><a href="#logo"><b>DHFL Bank</b></a></li>
  <li style="float:right"><a href="login.html"><b>LOGOUT</b></a></li>
  <li style="float:right"><a href="menu.html"><b>MENU</b></a></li>
</ul>

<p align="right">
<center><br><br><br><br><br>
  <b>
  <button type="button"><a href="/existing/all"><b>See All Customers</b></a></button><br><br>
<button type="button"><a href="/existing/byid"><b>Check Customer by ID</b></a></button>
</b>
</center>
</p>
<br>
</div><br><br><br><br>
</div>
</div><br><br>
<div class="footer">
<p><br> <br><br></p>
</div>
</body>
</html>
