 
<% include ./partials/header %>


<br><br><br><br><br><br><br><br><br><br><br>
  <div class="box1" >
<img src="Images/corporate-banking.jpg" alt="logo" align="center">
<h1>&nbsp &nbsp &nbsp &nbsp
  WELCOME</h1>
</div>
<br><br><br><br>
<center>
  <a href="/login"><button type="button"><b><font color="white">START</font></b></button></a>
</center>
</body>
</html>
