body{
 background: url(/Images/01585fd8958dcb8.jpg);
    background-repeat: no-repeat;
 background-size: cover;
 

  }
  .footer
  {

    position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:black;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

button
{
  border-color: white;
background-color:Green;
border:none;
 padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   font-size: 14px;
}
a{
  color: white;
  text-decoration: none;
}
#inline
{width:auto;;height:auto;background-color:white;display:flex;}