body{
 background: url(/Images/images.jpg);
    background-repeat: no-repeat;
 background-size: cover;
 
 
	}
  b{color:white;}
	.footer
	{
    position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:black;
	}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.box1{

opacity:0.5;
background-color:white;
11
background-size: 40%;
    display:block;
    float: left;
}
.box2{
  background-size: 40%;
      display:block;
      float: left;
opacity:0.5;
background-color:white;

}
button
{
background-color:blue;
border:none;
 padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	 font-size: 14px;
}
a{
  color: white;
  text-decoration: none;
}
#inline
{width:auto;;height:auto;background-color:white;display:flex;}