<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/green.css">
</head>
<body>
<div class="upper">
<div>
<ul>
  <li><a href="#logo"><b>DHFL Bank</b></a></li>
  <li style="float:right"><a href="login.html"><b>LOGOUT</b></a></li>
  <li style="float:right"><a href="menu.html"><b>MENU</b></a></li>
  <li style="float:right"><a href="existing.html"><b>BACK</b></a></li>
</ul><center><br><br>
</center>
</div><br><br><br><br><center><font size="6">
<h1>GREEN FLAG</h1>
This person is can be safely lend money. He/She has good past records.</font>
</center>
</div>
</div><br><br>
<div class="footer">
<p><br> <br><br></p>
</div>
</body>
</html>
